/*remove_production*/
:root {
    --body-base-size: 62.5%;      
    
    --heading-size-h1: 4.4rem;
    --heading-size-h2: 4.0rem;
    --heading-size-h3: 3.6rem;
    --heading-size-h4: 3.0rem;
    --heading-size-h5: 2.6rem;
    --heading-size-h6: 2.1rem;
    --heading-1-weight: 600;
    --heading-2-weight: 600;
    --heading-3-weight: 600;
    --heading-4-weight: 600;
    --heading-5-weight: 500;
    --heading-6-weight: 500;
    
    --bg-white: #ffffff;
    --border-radius-default: 999px;
    --gutter-xlg: 40px;
    --gutter-lg: 30px;
    --gutter-md: 25px;
    --gutter-sm: 20px;
    --gutter-xs: 15px;
    --gutter-xxs: 10px;
    --gutter-ct: 13px;  
}

/*end_remove_production*/