.section-collection-template-top {
    .collection-title {
        h3 {
            color: var(--main-color);
            font-size: var(--heading-size-h2);
            line-height: 40px;
            font-weight: 500;
            margin-bottom: 30px;
        }
    } 
    .section_content-head {
        margin-bottom: 15px;
        @media (min-width: 768px) {
            margin-bottom: 45px;
        }
    }   
}
.collection-category {
    .category_item {           
        @include bg-custom;
        margin-bottom: 15px;    
        @media (max-width: 767px) {            
            display: none;
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                display: block;
            }
        }
        @media (min-width: 768px) {            
            margin-bottom: 25px;            
            border-radius: 40px;  
        }
        > a {
            padding-top: 75%;
            display: block;
            position: relative;                         
            @media (min-width: 768px) {                
                padding-top: 100%;
                border-radius: 40px;    
            }
            &:after {
                content: '';
                background: rgba(0, 0, 0, .4);
                opacity: 0;
                border-radius: 40px;    
                @include ab(0, 0, 0, 0);
                @extend %transition;
            }
            .btn {
                @include font-heading;
                @include ab(50%, 25px, n, 25px);            
                transform: translateY(-50%);
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 6px;
                text-align: center;
                font-size: 11px;
                font-weight: 70;
                letter-spacing: 1.5px;
                color: var(--btn1-cl);            
                background-color: var(--btn1-bg-cl);
                border: var(--btn1-border-width) solid var(--btn1-border-cl);
                @media (min-width: 768px) {
                    font-size: calc(var(--body-font-size) - 4px);
                    font-weight: 500;
                    height: 70px;                                        
                    color: var(--btn3-cl);                
                    background-color: var(--btn3-bg-cl);
                    border: var(--btn3-border-width) solid var(--btn3-border-cl);
                    @include font-heading;
                    @media (hover : hover) {
                       &:hover {
                        background-color: var(--btn3-hover-bg-cl);
                        border-color: var(--btn3-hover-border-cl);
                        color: var(--btn3-hover-cl);
                       }
                    }
                }
            }
            @media (hover : hover) {
                &:hover {
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
.section_content-banner {
    margin: 15px 0 30px;
    @media (min-width: 768px) {
        margin: 75px 0 45px;
    }
    .container {
        > * {
            max-width: 900px;
            margin-left: auto;
            margin-right: auto;
        }
        h4 {
            font-size: 34px;
            line-height: 42.5px;
            font-weight: 900;
            margin-bottom: 12px;
            @include font-heading;
        }        
    }
}
#product-grid-container {
    margin-left: -2px;
    margin-right: -2px;
    @media (min-width: 768px) {
        @include margin-lr;            
    } 
    .featured-collection__item {
        padding-left: 2px;
        padding-right: 2px;
        margin-bottom: 17px;
        @media (min-width: 768px) {
            @include padding-lr;            
            margin-bottom: 30px;
        } 
    }
}
