.template-404 .main-content {
    padding-top: 40px;
    @media(min-width: 768px) {
        padding-top: 80px;
    }
    .empty-page-content {
        h1 {
            margin-bottom: 30px;
            @include font-heading;
        }
        .text-notice {
            margin-bottom: 30px;
        }
    }
}
/* Page Login */
#customer {
    margin: 50px auto;
    max-width: 545px;    
    @media (min-width: 768px) {
        margin-top: 104px;
        margin-bottom: 104px;
    }
}
.form-vertical {   
    h2 {
        @include title-heading;      
    }
    &.form-message__title {
        line-height: 30px;
        font-size: var(--body-font-size);
        color: var(--body-color);
    }
    .errors {
        color: #eb5757;
    }
    .subtext {
        a {
            color:  var(--special-border);
            margin-left: 5px;
            @media (hover : hover) {
                &:hover {
                    text-decoration: underline;
                }
            }
        } 
    }
    p {
        margin: 0 0 13px;
        a {
            color:  var(--special-border);
            @media (hover : hover) {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .policy-terms {
        position: relative;
        margin: 25px 0;        
        input {
            padding: 0;
            width: 20px;
            height: 20px; 
            opacity: 0;
            @include ab(2px, 0, n, n);            
        }
        label {
            display: block;
            padding: 0 0 0 36px;
            margin: 0;
            position: relative;
            font-size: calc(var(--body-font-size) - 1px);
            line-height: 22px;
            user-select: none;
            &:before {
                content: '';
                width: 20px;
                height: 20px;
                border-radius: 3px;
                border: 2px solid var(--body-color);                
                @include ab(2px, n, n, 0);
            }
            &:after {
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='10' viewBox='0 0 12 10'%3E%3Cpath fill='black' d='M12 1.74109L4.2672 10L0 5.42655L1.63303 3.68849L4.27004 6.51477L10.3698 0L12 1.74109Z'%3E%3C/path%3E%3C/svg%3E");                                                               
                opacity: 0;
                height: 20px;
                @include ab(-2px, n, n, 4px);
            }
        }
        input[type=checkbox]:checked + label:after {
            opacity: 1;
        }
        a {
            color: var(--special-border);
            @media (hover : hover) {
                &:hover {
                    text-decoration: underline;
                }
            }
        } 
    } 
    .social-login {
        margin-top: 42px;
        li {
            .svg-element-ui {
                display: flex;
            }
            &:not(:last-child) {
                margin-right: 27.55px;
            }
        }
    }
    .btn {
        font-size: calc(var(--body-font-size) + 4px);    
        &:not(.create-account) {
          width: 100%;
          margin-top: 26px;         
        }
    }   
    .account-new {
        margin-top: 64px;
        text-align: center;
        .section_title {
            margin-bottom: 13px;
            font-size: 26px;
        }
        .create-account {
            margin-left: auto;
            margin-right: auto;    
            width: 100%;
            max-width: 345px;
            padding-left: 15px;
            padding-right: 15px;   
        }    
        .account-descript {
            margin-bottom: 24px;
            font-size: calc(var(--body-font-size) - 1px); 
        }
    }    
}
.remember-pass {
    margin: 30px 0 35px;
    position: relative;
    user-select: none;
    input {
        padding: 0;
        width: 20px;
        height: 20px; 
        opacity: 0;
        @include ab(2px, 0, n, n);            
    }
    label {
        display: block;
        padding: 0 0 0 36px;
        margin: 0;
        position: relative;
        font-size: var(--body-font-size);
        line-height: 22px;
        &:before {
            content: '';
            width: 20px;
            height: 20px;
            border-radius: 3px;
            border: 2px solid var(--body-color);                
            @include ab(2px, n, n, 0);
        }
        &:after {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='10' viewBox='0 0 12 10'%3E%3Cpath fill='black' d='M12 1.74109L4.2672 10L0 5.42655L1.63303 3.68849L4.27004 6.51477L10.3698 0L12 1.74109Z'%3E%3C/path%3E%3C/svg%3E");                                                               
            opacity: 0;            
            @include ab(-2px, n, n, 4px);
        }
    }
    input[type=checkbox]:checked + label:after {
        opacity: 1;
    }   
}
.login-or {
    position: relative;
    text-align: center;
    &:after {
        content: '';
        height: 1px;
        background: var(--special-border);        
        margin-top: 1px;
        @include ab(50%, 0, n, 0);
    }
    span {
        display: inline-block;
        background: var(--body-bg-color);
        padding: 0 12px;
        font-weight: 800;
        text-transform: uppercase;
        font-size: calc(var(--body-font-size) - 4px);
        position: relative;
        z-index: 1;
        @include font-heading;
    }
}
#RecoverPasswordForm {
    label {
        display: block;
        color: #4B5759;    
        margin-bottom: 13px;
      }
      input[type="email"] {
        height: 56px;
        border-radius: 8px;
        padding: 13px 29px;
        text-transform: uppercase;
        color: #4B5759;
        font-size: calc(var(--body-font-size) - 4px);
        width: 100%;
        border: none;
        @include placeholder {
          color: #4B5759;
        }
    }
    #HideRecoverPasswordLink {
        display: inline-block;
        margin-top: 30px;
    }
    #RecoverHeading {
        @include title-heading;
    }
    .subtext {
        margin-bottom: 40px;
    }
    .btn-recover {
        margin-top: 40px;
    }
}
.template-customers-account,
.template-customers-addresses {
    .main-content {
        margin-top: 80px;
        @media (min-width: 768px) {
            margin-top: 80px;
        }
    }    
    .section-header {
        h1 {
            @include title-heading;
        }
    }
    #add_address_title {
        @include title-heading;
        text-align: center;
    }
    .action_bottom {
        text-align: center;
        margin-top: 20px;
        .btn {
            width: auto;
            margin: 0 auto;
        }
    }
}
.customer_address_table {
    input:not[type="checkbox"], select {
        width: 100%;
    }
    td {
        padding: 0 0 20px;
        @media (max-width: 479px) {
            display: block;
            padding: 0 0 10px;
        }
    }
    .label {
        label {
            margin: 0;
        }
    }
    .set-default-address {
        td {
            padding: 0;
        }
        .value {
            position: relative;
            input[type="checkbox"] {
                @include ab(0, n, n, 0);
                cursor: pointer;
                width: 100%;
                height: 100%;
                opacity: 0;
                &:checked ~ span:after {
                    opacity: 1;
                }
            }
            > span { 
                display: flex;
                align-items: center;
                &:after {
                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='10' viewBox='0 0 12 10'%3E%3Cpath fill='black' d='M12 1.74109L4.2672 10L0 5.42655L1.63303 3.68849L4.27004 6.51477L10.3698 0L12 1.74109Z'%3E%3C/path%3E%3C/svg%3E");                                                               
                    opacity: 0;
                    height: 20px;
                    @include ab(-2px, n, n, 4px);
                }
                &:before {
                    content: "";
                    display: block;
                    background: #ffffff;
                    border: none;
                    border-radius: 4px;
                    width: 20px;
                    height: 20px;                
                    margin-right: 7px;
                }
                > span {
                    flex: 1;  
                }
            } 
        } 
    }      
}
.myaccount {
    .grid__item {
        h2 {
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 25px;
        }
        .btn {
            margin-bottom: 15px;
            padding: 10px 30px;
            font-size: calc(var(--body-font-size) - 3px);
        }
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }        
}
.myaccount__order-history {
    @media (max-width: 991px) {
        margin-top: 30px;
    }
}
.account-sidebar {
    margin-bottom: 40px;
    .title {
        margin-bottom: 15px;
    }
    .btn {
        padding: 10px 30px;
        font-size: calc(var(--body-font-size) - 3px);
    }
    .return-page {
        margin-top: 15px;
        display: inline-block;
    }
}
.address_table {
    margin-bottom: 40px;
    .address_title {
        font-weight: 500;
        font-size: var(--heading-size-h3);
    }
    td {
        padding: 10px 0;        
    }
    .address_actions {
        form {
            display: flex;
            flex-wrap: wrap;
            .btn {
                margin: 15px 15px 0 0;
            }
        }
        .btn {
            padding: 10px 30px;
            font-size: calc(var(--body-font-size) - 3px);
        }
    }
}
/* About us */
.section-page-about-template {
    .block-logo_content {
        justify-content: center;
        flex-wrap: wrap;
        > * {
            max-width: 990px;
            margin-left: auto;
            margin-right: auto;
        }       
        .svg_element-ui {
            margin-bottom: 22px;
        }   
        .page_title {
            flex: 0 0 100%;
            max-width: 100%;
        }     
        .paragraph {        
            @media (min-width: 1200px) {
                font-size: var(--heading-size-h3);
                line-height: 1.4;
            }
        } 
    }
    .page_title {        
        color: var(--main-color);    
        margin-bottom: 0;        
        @include title-custom;
    }    
}
.wrapper-content {
    .block-image_content {
        > div {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
    .item__paragraph {
        padding-top: 40px;
        padding-bottom: 40px;
        @media (min-width: 992px) {
            padding-top: 0;
            padding-bottom: 0;
        }
        @media (max-width: 991px) {
            order: 2;
        }
        > * {
            width: 100%;
            max-width: 450px;
            margin-left: auto;
            margin-right: auto;
        }
        .page_title {
            margin-bottom: 14px;
            font-size: var(--heading-size-h3);
            line-height: 1.4;
        }
    }
    .block-banner {
        .banner-content {
            max-width: 1020px;
            padding-left: 15px;
            padding-right: 15px;
            margin-left: auto;
            margin-right: auto;
        }     
        .btn {
            width: 100%;
            max-width: 340px;
            margin-top: 30px;
            text-align: center;
        }  
        .paragraph {        
            @media (min-width: 1200px) {
                font-size: var(--heading-size-h3);
                line-height: 1.4;
            }
        }        
    }
    .banner-bg {
        @include bg-custom;
    }
    .item__imgage {
        @media (max-width: 991px) {
            order: 1;
        }
    }
}

/* Page Staff */ 
.section-page-staff-template {
    padding-top: 40px;
    @media (min-width: 768px) {
        padding-top: 70px;
    }
}
.staff-item {
    padding: 40px 35px 50px;
    text-align: center;
    .image__style {
        margin-bottom: 20px;
        img {
            border-radius: 50%;
        }
    }
    .staff-item__position,
    .staff-item__name,
    .staff-item__emoji {
        display: flex;
        justify-content: center;
    }    
    .staff-item__name, 
    .staff-item__position {
        font-weight: 500;
        @include font-heading;
    }
    .staff-item__name {        
        font-size: var(--heading-size-h2);
        line-height: 1.45;        
        margin-bottom: 10px;
    }
    .staff-item__position {        
        font-size: var(--heading-size-h3);        
        margin-bottom: 22px;
    }    
    .staff-item__emoji {
        margin-bottom: 20px;
    }
    .staff-item__intro {
        p {
            margin: 0;
        }
    }
    .btn {
        margin-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
/* Search page */
#main-templatesearch, #main-template-search {
    padding-top: 40px;
    @media(min-width: 768px) {
        padding-top: 80px;
    }
    .page-heading {
        text-align: center;
        h1 {
            margin: 0 auto 40px;
        }
        + p {
            margin: 30px 0 auto;
        }
    }
    .search-type_title {
        font-size: 32px;
        line-height: 1.5;
        margin-bottom: 20px;
        font-weight: 500;
        @include font-heading;        
        @media (min-width: 768px) {
            margin-bottom: 40px;
        }
    }
    .form-search-container {
        .btn-search-close {
            display: none;
        }
        .form-search {
            position: relative;
            .btn-search {
                @include ab(0, 0, n, n);
                display: flex;
                padding: 0 15px;
                align-items: center;
                height: 100%;
                svg path {
                    fill: var(--body-color);
                }
            }
        }    
        .search-result-list {
            margin: 0;
        }    
    }
    .search-result-list {
        margin-top: 20px;
        @media (min-width: 768px) {
            margin-top: 40px;
        }
    }
    .item-type-product {
        background: #fff;            
        padding: 15px;
        text-align: center;        
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        @media (min-width: 768px) {
            padding: 42px 15px 40px;
        }
    }
    .search-result-image {
        padding-bottom: 3px;
        @media (min-width: 768px) {
            padding: 0 5% 16px;
        }
        @media (min-width: 1440px) {
            padding-left: 23px;
            padding-right: 23px;
        }
        .image__style {
            width: 100%;
            img {
                object-fit: contain;
            }
        }
    }
    .search-result-content {
        h4 {
            a {
                font-weight: 700;
                font-size: calc(var(--body-font-size) - 2px);
                line-height: 22px;
                margin-bottom: 8px;
                @include font-heading;
                @media (min-width: 768px) {
                    font-size: calc(var(--body-font-size) + 6px);
                    line-height: 33px;
                    margin-bottom: 15px;
                }
            }
        }
    }
    .pagination-holder {
        margin: var(--gutter-lg) auto;
      
        @media (min-width: 768px) {
          margin: var(--gutter-xlg) auto;
        }
      
        .pagination {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
      
          li {
            margin: 3px;
      
            a {
              color: var(--body-color);
              display: flex;
              justify-content: center;
              align-items: center;
              width: 30px;
              height: 30px;
              line-height: 1;
              border: 1px solid var(--body-color);
              @extend %transition;
      
              @media (min-width: 1025px) {
                &:hover {
                  color: var(--main-color);
      
                  svg path {
                    fill: var(--main-color);
                  }
                }
              }
      
              &.next,
              &.prev {
                svg path {
                  fill: #BABCBF;
                }
              }
            }
      
            &.active {
              a {
                color: #fff;
                background: var(--main-color);
      
                &.next,
                &.prev {
                  svg path {
                    fill: var(--body-color);
                  }
                }
              }
            }
          }
        }
      }
}