.form-vertical{
    margin-top: 104px;
    color: #4B5759;
    h2{
        color: var(--main-color);
        margin-bottom: 55px;
        line-height: 80px;
        font-weight: 700;
        font-size: 56px;
    }
    label, 
    p{
        margin-bottom: 0;
    }
}
.form-control{
    margin-bottom: var(--gutter-md);
    position: relative;
    label{
        width: 100%;
        margin-bottom: var(--gutter-xs);
    }
    input{
        width: 100%;
        padding: 13px 25px;
        border: 1.5px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 8px;
        background: #fff;
    }
    .show-password{
        position: absolute;
        right: 20px;
        bottom: 10px;
        border: none;
        background: #fff;
    }
}
::placeholder {
    color: #333333;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
.text-center{
    .btn{
        width: 100%;
        margin-top: var(--gutter-sm);
    }
}
.policy-terms,
.remember-pass {
    color: #333333;
    margin-top: var(--gutter-lg);
    margin-bottom: 35px;
    align-items: baseline;
    a{
        color: #CCA7A2;
    }
}
.social-login {
    margin-bottom: 65px;
    li{
        padding: 0 15px;
    }
}
#rememberMe{
    width: 20px;
    height: 20px;
    margin-right: 16px;
}
.login-or{
    text-align: center;
    position: relative;
    color: #333333;
    font-size: 14px;
    font-weight: 800;
    line-height: 19px;
    margin-bottom: var(--gutter-xlg);
    &::before,
    &::after{
        content: '';
        position: absolute;
        width: 47%;
        height: 1px;
        background: #CCA7A2;
        right: 0;
        top: 8px;
    }
    &::before{
        left: 0;
    }
}

//login
#CustomerLoginForm{
    .remember-pass{
        align-items: center;
    }
    #RecoverPassword{
        width: 100%;
        text-align: right;
        color: #CCA7A2;
    }
    .account-new{
        max-width: 366px;
        margin: auto;
        width: 100%;
        color: #333333;
        text-align: center;
        font-size: 17px;
        line-height: 1.5;
        .section_title{
            font-size: 26px;
            margin-bottom: 13px;
            font-weight: 700;
            line-height: 37px;
        }
        .account-descript{
            margin-bottom: var(--gutter-sm);
        }
        .create-account {
            width: 100%;
        }
    }
}

.template-customers-register{
    h2{
        margin: 0;
    }
    .subtext{
        color: #333333;
        line-height: 1.5;
        margin-bottom: var(--gutter-xlg);
        margin-top: var(--gutter-xs);
        a{
            color: #cca7a2;
        }
    }
    .policy-terms {
        margin-bottom: var(--gutter-xs);
    }
}

#RecoverPasswordForm{
    margin-top: 104px;
    h2{
        color: var(--main-color);
        line-height: 80px;
        font-weight: 700;
        font-size: 56px;
    }
    .form-vertical{
        margin-top: 0;
        label{
            width: 100%;
            margin-bottom: var(--gutter-xs);
        }
        .input-full{
            width: 100%;
            padding: 13px 25px;
            border: 1.5px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 8px;
            background: #fff;
        }
    }
    .btn{
        margin-top: var(--gutter-xlg);
    }
}