/* Cart Sidebar */
.show-cart-drawer {         
    .drawer-close-ui {                
        @include fixed(0, n, 0, n);
        right: 100%;
        z-index: 1001;
        background: rgba(0, 0, 0, 0.5);
        width: 100vw;
        height: 100vh;        
        transition: opacity 0.4s cubic-bezier(0, 0, 0.2, 1),visibility 0.4s cubic-bezier(0, 0, 0.2, 1);
        @media (min-width: 610px) {
            right: 610px;
        }
    }
    #CartDrawer {                
        animation: animation-right-left .8s both;                        
    }
}
#CartDrawer {
    @include fixed(0, 0, n, n);    
    width: 100%;
    height: 100vh;
    max-width: 610px;    
    background: var(--body-bg-color);
    padding: 30px 25px 50px; 
    z-index: 1002;          
    animation: animation-left-right .8s both;                   
    @media (min-width: 500px) {
        padding-left: 35px;
        padding-right: 35px;                
    }
}
.drawer-header {
    .drawer-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 30px;
        .btn {
            padding: 0;
            .svg-element-ui {
                display: flex;
                svg {
                    width: 28px;
                    height: 28px;
                }
            }
            @media (hover: hover) {
                &:hover {
                    svg path {
                        fill: var(--main-color);
                    }
                }
            }
        }
        h3 {
            a {
                display: flex;
                align-items: center;
                color: var(--body-color);
                @media (hover: hover) {                    
                    &:hover {
                        color: var(--main-color);
                        svg path {
                            fill: var(--main-color);
                        }
                    }
                }
            }
            .svg-element-ui {
                margin-right: 23.88px;
                display: flex;
            }
        }
    }
}
.drawer-body {
    height: calc(100vh - 280px);
    overflow: hidden;
    overflow-y: auto;      
    @media (min-width: 500px) {
        height: calc(100vh - 290px);
    }
    @include custom-scrollbar;     
}
.drawer-inner {
    .line-item {
        display: block;
        width: 100%;
        &:not(:last-child) {
            margin: 0 0 85px;
        }
    }
    .line-item-inner {
        display: flex;        
        width: 100%;
        .line-item--media {
            flex: 0 0 115px;
            max-width: 115px;
        }
        .line-item--infor {
            flex: 0 0 calc(100% - 115px);
            padding: 0 0 0 15px;
            @media (min-width: 500px) {
                padding-left: 35px;
            }
        }

    }
    .line-item--remove {
        text-align: center;
        margin: 10px auto 0;
        a {
            text-transform: uppercase;
            font-size: calc(var(--body-font-size) - 2px);            
            letter-spacing: 0.15em;
            display: inline-block;
            line-height: 30px;
            position: relative;
            &:after {
                content: '';
                height: 1px;
                background: var(--body-link);
                @include ab(n, 0, 0, 0);
            }
            &:hover {
                &:after {
                    background: var(--main-color);
                }
            }
        }
    }
    .item-title {        
        font-weight: 500;
        font-size: calc(var(--body-font-size) - 2px);
        line-height: 22px;
        margin-bottom: 8px;
        @include font-heading;
        @media (min-width: 768px) {
            font-size: calc(var(--body-font-size) + 6px);
            line-height: 29px;
            margin-bottom: 20px;
        }
    }
    .line-item-options {
        overflow: hidden;
        p {
            margin: 0 0 5px;                                    
            letter-spacing: -1.5px;            
        }
    }
    .line-item--price {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin: 17px 0 0;
        .product-quantity {
            border-bottom: 1px solid var(--body-color);
            width: 140px;
            position: relative;
            input {
                height: 38px;
                font-size: calc(var(--body-font-size) - 2px);       
                font-weight: 400;     
                width: 100%;       
                border: none;              
                text-align: center;
                border-radius: 0;
            }
            > a {
                display: flex;
                width: 30px;
                height: 37px;
                justify-content: center;
                align-items: center;
            }
            .btn-minus {
                @include ab(0, n, n, 0);
            }
            .btn-plus {
                @include ab(0, 0, n, n);
            }
        }
        > p {            
            margin: 0;                        
            font-size: calc(var(--body-font-size) + 2px);     
            line-height: 30px;
            font-weight: 700;             
            @include font-custom;
            @media (min-width: 600px) {
                font-size: calc(var(--body-font-size) + 6px);     
                line-height: 32.74px;
            }          
        }
    }
}
.drawer-footer {   
    @include fixed(n, 35px, 50px, 35px);
    .drawer-subtotal {                       
        text-transform: uppercase;
        letter-spacing: 1.5px;
        margin: 0 0 18px;
        color: var(--body-link);
        font-weight: 500;
        @include font-heading;        
        span {
            padding-left: 15px;
            display: inline-block;
        }
    }
    .btn {
        width: 100%;
        padding: 10px;        
        line-height: 28px;
        font-weight: 400;        
        font-family: var(--body-font-family);  
        letter-spacing: 1.5px;      
        @media (min-width: 500px) {
            padding-top: 19px;    
            padding-bottom: 19px;    
            font-size: calc(var(--body-font-size) + 4px);
        }
    }
}
.template-cart {
    .announcement-bar_icon-social .btn-call-popup {
        pointer-events: none;
    }
}
