/* Slideshow */
.slideshow__item {
    position: relative;
    background-position: center;
    .slideshow__item-content {
       display: flex;
       flex-direction: column;
       align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding: 5%;       
    }
    .slideshow__item-text {
        font-size: 30px;
        letter-spacing: -1.5px;
        line-height: 41px;
        color: #fff;
        margin-bottom: 12px;
        text-align: center;
        font-weight: 500; 
        @include font-heading;
        @media (min-width: 768px) {
            font-size: 48px;
            line-height: 60px;
            margin-bottom: 25px;
        }       
    }
    .btn {
        width: 100%;
        max-width: 165px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: var(--body-font-size);
        @media (max-width: 767px) {
            font-size: calc(var(--body-font-size) - 4px);            
        }
        @media (min-width: 768px) {
            max-width: 345px;
            padding-top: 19px;
            padding-bottom: 19px;
        }
    }
}
/* Section Collection Content*/
.index-collection-content {        
    .collection-item {        
        position: relative;
        padding: 45px;
        background: #fff;
        display: flex;        
        margin-bottom: 26px;
        @media (max-width: 767px) {
            width: 100% !important;
            display: none;            
            &:nth-child(1),
            &:nth-child(2) {
                display: flex;
            }
        }
        @media (min-width: 768px) {            
            margin-bottom: 60px;                      
        }
        .collection-item__content {            
            @media (min-width: 1200px) {
                flex: 0 0 245px;
                max-width: 245px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        .collection-item__image {
            display: none;
            @media (min-width: 1200px) {
                display: block;
                flex: 1;
                min-width: 0;
                padding: 0 0 0 28px;
            }   
            .image__style {
                padding: 0 !important;
                height: 100%;
                img {
                    object-fit: cover;
                    position: static;
                }
            }         
        }
        .collection__title {
            // text-transform: uppercase;
            letter-spacing: -1.5px;
            font-size: var(--heading-size-h2);            
            margin-bottom: 28px;  
            line-height: 36px;
            font-weight: 450;
            @media (min-width: 768px) {
                line-height: 38px;
            } 
        }             
        .collection__btn {
            padding-left: 10px;
            padding-right: 10px;
            width: 100%;
            max-width: 245px;
            margin-top: 21px;
            margin-bottom: 0;
            @media (min-width: 768px) {
                margin-top: 36px;
            }
            a {
                color: inherit;
            }
        }
    }
    .layout-full {
        @include padding-lr;
        @media (min-width: 768px) {
            padding-left: 2.5vw;
            padding-right: 2.5vw;
        }
        .collection-wrappper {
            width: 100%;
            max-width: 1680px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
/* Section List Collection */
.index-list-collection {
    .section_content-head {
        @media (min-width: 768px) {
            margin-bottom: 53px;
        }
    }
    .collection-item {
        margin-bottom: 20px;
        @media (max-width: 767px) {
            display: none;
            &:nth-child(1), &:nth-child(2),
            &:nth-child(3), &:nth-child(4),
            &:nth-child(5), &:nth-child(6) {
                display: block;
            }
        }
        @media (min-width: 768px) {
            margin-bottom: 40px;
        }       
        > a {
            display: block;
            width: 100%;
            padding-top: 100%;
            border-radius: 50%;            
            position: relative;
            @include bg-custom;
            &:after {
                content: '';
                background: rgba(0, 0, 0, .4);
                opacity: 0;
                border-radius: 50%;    
                @include ab(0, 0, 0, 0);
                @extend %transition;
            }
            .collection__title {
                @include ab(50%, n, n, 50%);
                transform: translate(-50%, -50%);
                width: 100%;
                max-width: 136px;
                padding: 5px 10px;
                font-size: calc(var(--body-font-size) - 6px);
                z-index: 1;
                @media (min-width: 768px) {
                    max-width: 270px;
                    padding-top: 23px;
                    padding-bottom: 23px;
                    font-size: calc(var(--body-font-size) - 2px);
                }
            }
            @media (hover : hover) {
                &:hover {
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
/* Section Blog */
.index-blog-grid {
    .section_content-head {
        @media (min-width: 768px) {
            margin-bottom: 58px;
        }
    }
    .blog-item {
        a {
            @include bg-custom;
            display: flex !important;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 15px;
            .btn {
                padding: 16px 60px;
                
            }
        }
        &:not(:last-child) {    
            margin-bottom: 17px;        
            @media (min-width: 992px) {
                margin-bottom: 40px;
            }
        }
    }
    .blog-item__right {
        .blog-item {
            height: 100%;
            margin-top: 17px;                 
            @media (min-width: 992px) {
                margin-top: 0;
            }
        }
    }
    .layout-boxed {
        @media (max-width: 767px) {
            .container {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}
/* Carousel Product */
.slider-container {    
    .slider-wrapper {        
        .text-center {
            margin-top: 30px;
            .btn {
                font-size: var(--heading-size-h5);
            }
        }
    }
}
/* Logo Partner*/
.index-section-logo {
    .section_title {
        @media (min-width: 768px) {
            margin-bottom: 57px;
        }
    }
    .section_content-body {
        padding-top: 42px;
    }
}
.logo-bar {
    flex-wrap: wrap;
    @media (min-width: 768px) {
        align-items: center;
    }
    .logo-bar__item {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        margin-bottom: 42px;
        @media (min-width: 575px) {
            flex: 0 0 50%;
            max-width: 50%;
        }
        @media (min-width: 768px) {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }
    }    
}
.index-section-announcement {    
    .announcement-text {
        line-height: 30px;
        padding: 12px 15px;
        font-size: calc(var(--body-font-size) - 2px);
    }
}
// .featured-collection {
//     .featured-collection__item {
//         .featured-collection__vendor {
//             font-size: calc(var(--body-font-size) - 6px);
//             @media (min-width: 1920px) {
//                 font-size: var(--body-font-size);
//             }
//         }
//         .featured-collection__title {
//             font-size: calc(var(--body-font-size) - 2px);
//             line-height: 22px;
//             @media (min-width: 1920px) {
//                 font-size: var(--heading-size-h4);
//                 line-height: 28px;
//             }
//         }
//         .featured-collection__price {
//             font-size: calc(var(--body-font-size) - 2px);
//             @media (min-width: 1920px) {
//                 font-size: var(--heading-size-h3);
//             }
//         }
//         form .btn {
//             padding: 2px 10px;            
//             font-size: calc(var(--body-font-size) - 4px);
//             @media (min-width: 1920px) {
//                 font-size: var(--heading-size-h4);
//             }
//         }
//     }
// }
.index-carousel-products {
    .slider-container {
        .tns-outer > .tns-ovh {
            @media (min-width: 992px) and (max-width: 1400px) {
                max-width: 875px;
                margin: 0 auto;
            }
        }
    }
}