/* Slideshow */
.slideshow__item {
    position: relative;
    .slideshow__item-content {
       display: flex;
       flex-direction: column;
       align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding: 5%;
    }
    .slideshow__item-text {
        font-size: 30px;
        letter-spacing: -1.5px;
        line-height: 41px;
        color: #fff;
        margin-bottom: 12px;
        text-align: center;
        @include font-custom;
        @media (min-width: 768px) {
            @include font-heading;
            font-size: 48px;
            line-height: 72px;
            margin-bottom: 27px;
        }       
    }
    .btn {
        width: 100%;
        max-width: 165px;
        padding-top: 5px;
        padding-bottom: 5px;
        @media (min-width: 768px) {
            max-width: 345px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}
/* Section Collection Content*/
.index-collection-content {    
    .collection-item {
        position: relative;
        padding: 40px;
        background: #fff;
        display: flex;
        align-items: center;
        margin-bottom: 26px;
        @media (max-width: 767px) {
            width: 100% !important;
            display: none;
            &:nth-child(1),
            &:nth-child(2) {
                display: flex;
            }
        }
        @media (min-width: 768px) {
            padding: 32px 20px 32px 50px;
            margin-bottom: 60px;           
            .collection-item__image {               
                display: none;
            }
        }
        .collection-item__content {            
            @media (min-width: 1200px) {
                flex: 0 0 245px;
                max-width: 245px;
            }
        }
        .collection-item__image {
            @media (min-width: 1200px) {
                display: block;
                flex: 1;
                min-width: 0;
                padding: 0 0 0 28px;
            }
        }
        .collection__title {
            text-transform: uppercase;
            letter-spacing: -1.5px;
            font-size: var(--heading-size-h2);
            line-height: 46px;
            margin-bottom: 36px;            
        }        
        .collection__btn {
            padding-left: 10px;
            padding-right: 10px;
            width: 100%;
            max-width: 245px;
            margin-top: 21px;
            margin-bottom: 0;
            @media (min-width: 768px) {
                margin-top: 36px;
            }
            a {
                color: inherit;
            }
        }
    }
    .layout-full {
        @include padding-lr;
        @media (min-width: 768px) {
            padding-left: 2.5vw;
            padding-right: 2.5vw;
        }
        .collection-wrappper {
            width: 100%;
            max-width: 1680px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
/* Section List Collection */
.index-list-collection {
    .collection-item {
        margin-bottom: 20px;
        @media (max-width: 767px) {
            display: none;
            &:nth-child(1), &:nth-child(2),
            &:nth-child(3), &:nth-child(4),
            &:nth-child(5), &:nth-child(6) {
                display: block;
            }
        }
        @media (min-width: 768px) {
            margin-bottom: 40px;
        }       
        > a {
            display: block;
            width: 100%;
            padding-top: 100%;
            border-radius: 50%;            
            position: relative;
            @include bg-custom;
            &:after {
                content: '';
                background: rgba(0, 0, 0, .4);
                opacity: 0;
                border-radius: 50%;    
                @include ab(0, 0, 0, 0);
                @extend %transition;
            }
            .collection__title {
                @include ab(50%, n, n, 50%);
                transform: translate(-50%, -50%);
                width: 100%;
                max-width: 136px;
                padding: 5px 10px;
                font-size: calc(var(--body-font-size) - 6px);
                z-index: 1;
                @media (min-width: 768px) {
                    max-width: 270px;
                    padding-top: 23px;
                    padding-bottom: 23px;
                    font-size: calc(var(--body-font-size) - 2px);
                }
            }
            @media (hover : hover) {
                &:hover {
                    &:after {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
/* Section Blog */
.index-blog-grid {
    .blog-item {
        a {
            @include bg-custom;
            display: flex !important;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 15px;
            .btn {
                padding: 16px 60px;
                
            }
        }
        &:not(:last-child) {    
            margin-bottom: 17px;        
            @media (min-width: 768px) {
                margin-bottom: 40px;
            }
        }
    }
    .blog-item__right {
        .blog-item {
            height: 100%;
            margin-top: 17px;                 
            @media (min-width: 768px) {
                margin-top: 0;
            }
        }
    }
    .layout-boxed {
        @media (max-width: 767px) {
            .container {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}
/* Carousel Product */
.slider-carousel {    
    .slider-wrapper {
        > .featured-collection {
            // display: flex;
        }
    }
}