.slider-wrapper {
    #customize_wrapper {        
        display: flex;
        flex-direction: column;
        @media (min-width: 768px) {
            flex-direction: row;
        }
        .customize-tools {            
            @media (min-width: 768px) {
                flex: 0 0 91px;
                max-width: 91px;
                .thumbnails {
                    .media-item {
                        &:not(:last-child) {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
            @media (max-width: 767px) {
                order: 2;
                margin-top: 10px;
                .thumbnails {
                    display: flex;
                    margin: 0 -5px;
                    .media-item {
                        padding: 0 5px;
                        flex: 0 0 25%;
                        max-width: 25%;
                    }
                }
            }
        }
        .slider-main {            
            @media (min-width: 768px) {
                flex: 0 0 calc(100% - 91px);
                max-width: calc(100% - 91px);
                min-width: 0;
                padding: 0 0 0 27px;
            }
        }
    }
}
.product-content {   
    padding-top: 33px;
    @media (min-width: 992px) {
        padding-top: 0;       
    }
    @media (min-width: 768px) {
        > div {
            max-width: 565px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .product-info {
        .name-wishlist {                        
            margin-bottom: 8px;
        }
        .product-wishlist {
            padding-left: 20px;
            svg path {
                stroke: var(--special-border);
            }
            .arn_pending {
                svg:not(.arn_icon) {
                    display: none;
                }
            }
            .arn_added {
                svg path {
                    fill: var(--special-border);
                }
            }
        }
        .product-name {
            color: var(--main-color);
            font-size: 30px;            
            letter-spacing: -1.5px;
            font-weight: 500;        
            line-height: 47.5px; 
            margin-bottom: 0;
            @include font-heading;
            @media (min-width: 768px) {                
                font-size: var(--heading-size-h1);                
            }
        }
    } 
    .price-reviews {
        flex-wrap: wrap;
        .fa-star, .fa-star-o, .fa-star-half-o, .stamped-fa-star, .stamped-fa-star-o, .stamped-fa-star-half-o {
            color: var(--special-border) !important;
        }
        .stamped-badge {
            display: flex;
            align-items: center;
            > span {
                &:not(:last-child) {
                    // margin-right: 8px !important;                      
                }
            }
            .stamped-badge-caption {
                display: none;
                &:before {
                    content: '(';
                }
                &:after {
                    content: ')' !important;
                }
            }
            .stamped-badge-caption[data-reviews][data-label][data-version="2"]:after {
                content: ')' !important;
            }
        }
    }
    .product-price {
        font-size: var(--heading-size-h2);
        line-height: 40px;
        font-weight: 500;
        color: var(--main-color);
        @include font-heading;        
    }
    .product-author {
        line-height: 22px;
        color: var(--main-color);
        margin: 16px 0 12px;
        @include font-custom-2;
    }
    .product-sku {
        font-size: calc(var(--body-font-size) - 3px);
        line-height: 18px;        
        margin-top: 7px;
        margin-bottom: 12px;
        @include font-custom-2;
    }
    .product-descript {
        margin-top: 12px;
        margin-bottom: 10px;
    }
    .product_stock {
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        .number-stock {           
            > span {                             
                position: relative;
                padding-left: 13px;
                margin-left: 10px;
                &:after {
                    content: '';
                    width: 8px;
                    height: 8px;                    
                    border-radius: 50%;
                    transform: translateY(-50%);
                    @include ab(50%, n, n, 0);                
                }
                &#out-stock {
                    color: #EB5757;
                    &:after {
                        background: #EB5757;
                    }
                }
                &#in-stock {
                    color: #6FCF97;
                    &:after {
                        background: #6FCF97;
                    }
                }
            }
        }
    } 
    .form-wrap {
        align-items: flex-end;
        flex-wrap: wrap;
        .qty-wrapper {
            width: 140px;
            margin: 0 60px 20px 0;
            .lb-quantity {
                display: block;
                margin-bottom: 2px;
            }
            .product-quantity {
                position: relative;
                background: #fff;
                input {
                    width: 100%;
                    height: 46px;
                    border: none;
                    line-height: 20px;
                    padding: 8px 20px;
                    text-align: center;
                    border-radius: 0;
                    font-size: var(--body-font-size);
                }
                > a {
                    @include ab(0, n, n, n);
                    display: flex;
                    height: 100%;
                    align-items: center;
                    &.btn-minus {
                        left: 10px;
                    }
                    &.btn-plus {
                        right: 12px;
                    }
                }
            }
        }
        .btn {
            margin-bottom: 20px;
            line-height: 25px;
            padding: 15px;
            font-size: calc(var(--body-font-size) + 4px);
            width: 100%;                
            @media (min-width: 768px) {
                max-width: 280px;
            }
        }            
    }    
    .product-form {
        margin-top: 20px;
        margin-bottom: 1px;
        @media (min-width: 768px) {
            margin-top: 37px;
            margin-bottom: 11px;
        }
    }
    .product-metaphysical {
        margin-bottom: 20px;
        margin-top: 8px;
        @media (min-width: 768px) {
            margin-bottom: 37px;
            margin-top: 20px;
        }
        .label {
            background: #EDEDED;
            padding: 12px 13px;
            display: flex;
            align-items: center;
            .svg-element-ui {
                svg path {
                    fill: var(--main-color);
                }
            }
            .text {
                padding: 0 3px 0 10px;
                color: var(--main-color);
            }
        }
        .descript {
            background: #fff;
            padding: 7px 13px;
        }
    }
    .swatch-option {
        margin-left: -6px;
        margin-right: -6px;   
        flex-wrap: wrap;  
        @media (min-width: 768px) {
            margin-left: -13px;
            margin-right: -13px;   
        }
        .swatch-header {                     
            font-weight: 700;
            margin: 0 0 15px;            
            padding: 0 13px;
            flex: 0 0 100%;
            max-width: 100%;            
        }
        .swatch-item {
            padding: 0 6px 12px;
            @media (min-width: 768px) {
                padding: 0 13px 26px;
            }
            input {
                display: none;
            }
            label {
                position: relative;
                overflow: hidden;
                display: block;
                margin: 0;
                padding: 5px 15px;
                letter-spacing: 1.5px;
                cursor: pointer;
                line-height: 30px;
                text-align: center;
                font-size: calc(var(--body-font-size) - 4px);
                text-transform: uppercase;
                border: 1.5px solid var(--main-color);
                color: var(--main-color);
                background: #fff;
                @extend %transition;
            }
            .swt-size {
                padding: 12px 15px;               
                min-width: 166px;               
                @media (min-width: 800px) {
                    padding-left: 58px;
                    padding-right: 58px;
                }                
            }
            input:checked + label {
                background-color: var(--main-color);                                
                color: #fff;
            }
            &.disabled {
                label {
                    cursor: not-allowed !important;
                    color: #BABCBF !important;
                    border-color: #BABCBF !important;
                    background: none !important;
                    &:after {
                        content: '';                        
                        background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1' preserveAspectRatio='none' stroke='%23959595'%3E%3Cpath d='M0 1l1-1' vector-effect='non-scaling-stroke'/%3E%3C/svg%3E") 0%/100% 100% no-repeat;                 
                        transform: rotateY(160deg);
                        @include ab(0, 0, 0, 0);                        
                    }
                }
            }
        }
    }
}
.product-social {        
    margin-top: 7px;
    @media (min-width: 768px) {
        margin-top: 23px;
        padding-top: 0;
        max-width: 565px;
        margin-left: auto;
        margin-right: auto;
    }
    .list-social {
        display: flex;
        flex-wrap: wrap;
        margin-left: -9px;
        margin-right: -9px;
        justify-content: center;
        @media (min-width: 768px) {
            justify-content: flex-start;
        }
        .svg_element-ui a {
            display: flex;
            svg path {
                &:first-child {
                    fill: var(--main-color);
                }
            }                
        }
        li {
            padding: 0 9px;
        }
    }
} 
.product-page-body {
    padding-top: 33px;
    @media (min-width: 768px) {
        padding-top: 80px;
    }
    .title {
        margin-bottom: 32px;
        color: var(--main-color);
        @media (min-width: 768px) {
            max-width: 576px;
        }
    }
    .details-content {
        background: #fff;
        padding: 20px 15px;
        &:empty {
            display: none;
        }
        @media (min-width: 768px) {
            max-width: 576px;
            margin-left: auto;       
            margin-right: auto;
            padding: 40px 18px 40px 50px;     
        }
        @media (min-width: 992px) {
            margin-right: 0;
        }
        table {
            tr {
                vertical-align: text-top;
            }
            td, th {
                line-height: 24px;
                text-align: left;
                padding: 10px 0;
                @include font-heading;
            }
            th {
                font-weight: 500;
                width: 155px;
            }
            td {                
                &:last-child {
                    font-weight: 900;
                }
            }
        }
    }         
}
.product-recommendation {
    margin-top: 40px; 
    @media (min-width: 992px) {
        margin-top: 0;
    }
    .title {
        @media (min-width: 768px) {             
            margin-left: auto;
            margin-right: auto;
        }
    }
    .js-slider-container {
        @media (min-width: 768px) {
            max-width: 570px;
            margin-left: auto;
            margin-right: auto;
        }
    }        
}   
#recentlyView {
    margin-top: 40px; 
    @media (min-width: 768px) {
        margin-top: 70px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        max-width: 570px;
        margin-left: auto;
        margin-right: auto;
    }
    .title {
        margin-bottom: 32px;
        color: var(--main-color);
        
    }
}  
.product-reviews {
    [data-count="0"] .stamped-summary-starrating i:before {
        color: var(--rating-star-empty-color);
    }
    .stamped-form-review-rating a {
        color: var(--rating-star-color);     
        &:hover {
            color: var(--rating-star-color);     
        }
    }
    div.stamped-container[data-widget-style], div[data-widget-style] div.stamped-container {
        @include font-body;
        @media (min-width: 768px) {
            margin-top: 56px !important;
        }
    }
    .product-page-reviews--title {
        @include font-heading;
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;      
        margin:  30px 0 0;  
        text-align: center;
        @media (min-width: 768px) {
            margin-top: 40px;
        }
    }
    .stamped-container[data-count="0"] .stamped-empty-state:before {
        color: var(--rating-star-color);   
    }
    div[data-count="0"] .summary-overview, div[data-widget-style*=standard][data-count="0"] .summary-overview {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 15px;
    }
    .stamped-summary-actions-newquestion, .stamped-summary-actions-newreview {
        @media (max-width: 480px) {
            margin-bottom: 20px;
        }
    }
    #stamped-main-widget {
        margin: 0;
    }    
    .stamped-form-label {
        font-size: var(--body-font-size);
        color: var(--body-color);
        display: block;
        line-height: 30px;
        margin-bottom: 13px;
        + .stamped-form-input {
            text-transform: none;            
        }
    }
    input.stamped-form-input-email, 
    input.stamped-form-input-text {
        height: 48px;
    }
    input.stamped-form-input-email, 
    input.stamped-form-input-text,
    .stamped-form-input-textarea {
        padding: 5px 15px;
        font-size: var(--body-font-size);
        border: none;        
    }
    .stamped-messages .stamped-thank-you {
        padding: 0;
        border: none;
        margin-top: 40px;
    }
    .stamped-messages .stamped-share-links a {
        display: inline-block;
    }
    p.stamped-review-content-body {
        font-size: calc(var(--body-font-size) - 4px);
    }
    .stamped-review-header-title {
        margin-bottom: 5px;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.18em;
    }
    .stamped-summary-actions-newquestion:before, 
    .stamped-summary-actions-newreview:before, 
    .stamped-summary-actions-mobile-filter i:before, 
    .stamped-summary-actions-clear:before {
        color: var(--body-link-hover);
    }
    ul.stamped-tabs li.active {
        color: var(--body-link-hover) !important;
        border-color: var(--body-link-hover) !important;
    }
    .summary-rating-bar > div,
    .stamped-review-avatar {
        background: var(--body-link-hover) !important;
    }
}