@mixin ab($t, $r, $b, $l) {
    position: absolute;

    @if $l !=n {
        left: $l;
    }

    @if $t !=n {
        top: $t;
    }

    @if $r !=n {
        right: $r;
    }

    @if $b !=n {
        bottom: $b;
    }
}

@mixin fixed($t, $r, $b, $l) {
    position: fixed;

    @if $l !=n {
        left: $l;
    }

    @if $t !=n {
        top: $t;
    }

    @if $r !=n {
        right: $r;
    }

    @if $b !=n {
        bottom: $b;
    }
}

@mixin transform($transforms) {
    transform: $transforms;
}

@mixin translateX($x) {
    @include transform(translateX($x));
}

@mixin translateY($y) {
    @include transform(translateY($y));
}

@mixin translate($x, $y) {
    @include transform(translate($x, $y));
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }

    &:-moz-placeholder {
        @content
    }

    &::-moz-placeholder {
        @content
    }

    &:-ms-input-placeholder {
        @content
    }
}
@mixin font-body {
    font-family: var(--font-family);
}
@mixin font-heading {
    font-family: var(--font-heading);
}
@mixin font-custom-1 {
    font-family: 'Work Sans', sans-serif;
}
@mixin font-custom-2 {
    font-family: 'Montserrat', sans-serif;
}
@mixin padding-lr {
    padding-left: 15px;
    padding-right: 15px;
}
@mixin margin-lr {
    margin-left: -15px;
    margin-right: -15px;
}
@mixin bg-custom {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@mixin title-custom {
    font-size: 48px;
    line-height: 72px;
    font-weight: 500;
    letter-spacing: -1.5px;               
    @include font-heading;
}
@mixin title-heading {
    font-size: 56px;
    line-height: 80px;
    margin: 0 auto 30px;
    color: var(--main-color);
}
@mixin max-height-zero {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.15s ease-in-out; 
}
@mixin max-height-full {
    transition: max-height 0.35s ease-in-out;
    max-height: 100%;
}
%list-style-reset {
    list-style: none;
}

%point-event {
    pointer-events: none;
}

%point-cursor {
    cursor: pointer;
}

%visibility-hidden {
    visibility: hidden;
    z-index: -2;
    opacity: 0;
}

%visibility-visible {
    visibility: visible;
    z-index: 99992;
    opacity: 1;
}

%body-style {
    font-size: var(--body-font-size);
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    color: var(--body-color);
    background-color: var(--body-bg-color);
}

%transition {
    transition: all 0.4s ease-in-out 0s;
}

%body-font-size {
    font-size: var(--body-font-size);
}

%radius-df {
    border-radius: 3px;
}

@mixin custom-scrollbar {
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px var(--body-color);
        -webkit-box-shadow: inset 0 0 var(--body-color);
        background-color: var(--body-color);
        border-radius: 5px;
    }
    &::-webkit-scrollbar {
        width: 4px;
        background-color: var(--body-color);
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--main-color);
        border-radius: 5px;
    }
}
%hiddenInUp {
    opacity: 0;
    visibility: hidden;
}

%showInUp {
    opacity: 1;
    visibility: visible;
}

@mixin fadeIn($dur, $timi, $delay, $cou) {
    animation-name: fadeIn;

    @if $dur !=n {
        animation-duration: $dur;
    }

    @if $timi !=n {
        animation-timing-function: $timi;
    }

    @if $delay !=n {
        animation-delay: $delay;
    }

    @if $cou !=n {
        animation-iteration-count: $cou;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    25% {
        opacity: .5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .5;
    }
}
@keyframes mmfadeIn {
    from { 
        opacity: 0; 
    }
    to {
        opacity: 1;
    }
}   
@keyframes animation-right-left {
    from {
        opacity: 0;
        transform: translateX(610px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}  
@keyframes animation-left-right {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(610px);
    }
}  
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');