//footer

.footer-widget {
    .h4 {
        font-size: 35px;
        line-height: 48px;
        margin-bottom: 14px;
        font-weight: 500;
        @include font-heading;
        @media (min-width: 768px) {
            font-size: 48px;
            line-height: 72px;
            margin-bottom: 25px;
        }
    }
    .descript {
        text-transform: uppercase;
        font-size: 19px;
        line-height: 26px;
        font-weight: 500;
        margin-bottom: 30px;
        @include font-heading;
        @media (min-width: 768px) {
                font-size: var(--heading-size-h3);
            line-height: 30px;
            margin-bottom: 35px;
        }
    }    
    .site-footer__newsletter {
        padding-bottom: 68px;
        // padding-bottom: 15px;
        @media (min-width: 768px) {
            padding-bottom: 72px;
        }
        .input-group {
            display: flex;            
            justify-content: center;  
            align-items: center;
            flex-direction: column;                  
            @media (min-width: 768px) {
                flex-wrap: nowrap;
                flex-direction: row;
            }
            &__field{
                padding: 15px 0;
                text-align: center;
                font-size: 20px;
                border: none;                
                margin-bottom: 19px;
                width: 100%;
                line-height: 30px;
                height: 58px;
                max-width: 350px;    
                border-radius: 0;   
                color: #bababa;
                letter-spacing: 1.5px;  
                font-weight: 500;
                @include font-heading;
                @media (min-width: 768px) {
                    margin-right: 21px;
                }
                @include placeholder {
                    color: #bababa;
                  }
            }
            .input-group__btn {
                margin-bottom: 19px;
                width: 100%;
                max-width: 349px;      
            }
            .btn {
                padding-top: 14px;
                padding-bottom: 14px;
                width: 100%;      
                font-size: 20px;                                    
            }           
        }
    }   
    .site-footer__iconlist-item {
        margin-bottom: 35px;
        @media (min-width: 768px) {
            margin-bottom: 53px;
        }
        .iconlist-item__svg {            
            margin: 0 auto 15px;
            .svg-element-ui {
                display: flex;
                justify-content: center;
            }
        }
        .iconlist-item__heading {
            margin-bottom: 14px;
            line-height: 28px;
            font-weight: 500;
            font-size: var(--heading-size-h4);
            @include font-heading;
        }       
    }    
}
.site-footer{
    padding: 43px 0 0;    
    @include font-heading;
    @media (min-width: 768px) {
        border-top: 1px solid currentColor;
        padding-bottom: 40px;
    }
    .section_content-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;        
        align-items: flex-end;
        @media (min-width: 768px) {
            text-align: left;
            justify-content: space-between;
        }        
        > div {         
            margin-bottom: 35px;
            @media (min-width: 992px) {
                margin-bottom: 0;
            }
        }
    }
    .footer-item__logo {
        margin-bottom: 20px;
        display: block;
    }
    .menu_list-wrapper {
        li {
            a {
                color: inherit;
            }
        }
    }
    .card_footer-social{
        margin-top: var(--gutter-xs);
    }
    .list-social{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media (min-width: 768px) {
            justify-content: left;
        }
        a {
            display: flex;
        }
        li {
            margin-top: 10px;
            &:not(:last-child){
                margin-right: 20px;
            }
        }
    }
    .list-payment{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @media (min-width: 768px) {
            justify-content: flex-start;
        }
        li:not(:last-child){
            margin-right: 7px;
        }
    }   
    .card_footer-copyright{
        font-size: calc(var(--body-font-size) - 4px);   
        @media (max-width: 767px) {
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }
    }       
}
.site-footer__item-inner--newsletter {
    padding-top: 68px;
    @media (min-width: 768px) {
        padding-top: 106px;
    }
}
