html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--body-bg-color);  
}
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}
body {
  @extend %body-style;
  line-height: 30px;
  &:not(.template-index) {
    .main-content {
      padding-bottom: 40px;
      @media (min-width: 768px) {
        padding-bottom: 80px;
      }
    }
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: var(--body-link);
  background-color: transparent;
  @extend %transition;

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: .9;
  }

  &:not([href]) {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
}

img.lazyload:not([src]) {
  opacity: 0;
}
input[type="submit"],
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

p {
  margin: 0 0 10px;
}

.hide {
  display: none !important;
}

ul,
ol,
dl {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0;
}

ol {
  padding: 0;
  list-style: decimal inside none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  th,
  td {
    padding: 10px;
  }
}
.list-style,
.list-inline,
.list-style-select {
  @extend %list-style-reset;
}

.small,
small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -2.5px;
}

sup {
  top: -5px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}
select,
input, input[type="text"],
textarea {
  font-family: var(--body-font-family);
  border-radius: 8px;
  padding: 13px 29px;
  text-transform: uppercase;
  color: #4B5759;
  font-size: calc(var(--body-font-size) - 4px);
  width: 100%;
  border: none;  
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none; 
  -o-appearance: none;
  appearance: none;
  @include placeholder {
    color: #4B5759;
  }
}
input[type="checkbox"] {
  -webkit-appearance: auto;
  -moz-appearance: auto;
  -ms-appearance: auto; 
  -o-appearance: auto;
  appearance: auto;
  width: auto;
  padding: 0;
}
select {
  max-width: 100%;
  padding: 0 35px 0 15px;
  height: 48px;      
  line-height: 48px;  
  border: none;
  background-repeat: no-repeat;                  
  background-size: 9px 6px;
  background-position: calc(100% - 15px) center;
}
select::-ms-expand {
  display: none;
}
.form-control {
  margin-bottom: 22px;
  position: relative;
  label {
    display: block;
    color: #4B5759;    
    margin-bottom: 13px;
  }  
  input, input[type="text"] {
    height: 56px;    
  }
  .show-password {
    @include ab(n, 0, 0, n);
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background: none;
    svg path {
        fill: #4B5759;
    }
    .svg__show {
        display: none;
    }       
    &.active {
        .svg__show {
            display: flex;
        }
        .svg__hide {
            display: none;
        }
    }
  }
  .label-inline {
    justify-content: space-between;
    a {
      color: var(--special-border);
      @media (hover : hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }  
}
.pointer {
  @extend %point-cursor;
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}

.overlay-ui {
  @include ab(0, n, n, 0);
  word-break: break-word;

  img {
    &.lazyload:not([src]) {
      opacity: 0;
    }
  }
}

.btn[disabled] {
  opacity: .7;
  pointer-events: none;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-underline {
  text-decoration: underline !important;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.m-auto {
  margin: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.ml-10 {
  margin-left: 10px;
}

.mb-30 {
  margin-bottom: 30px;
}

.h-100p {
  height: 100%;
}

.vertical_align-top {
  align-items: flex-start;
  align-self: flex-start;
}

.vertical_align-middle {
  align-items: center;
  align-self: center;
}

.vertical_align-bottom {
  align-items: flex-end;
  align-self: flex-end;
}

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;  
  outline: none;
  box-shadow: none;
  padding: 10px;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 500;
  @include font-heading;
  @extend %transition;
  &:hover {
    text-decoration: none;
  }
}

.btn-1 {
  font-weight: var(--btn1-fw);
  font-size: var(--btn1-fs);
  color: var(--btn1-cl);
  padding: var(--btn1-padding);
  background-color: var(--btn1-bg-cl);
  border: var(--btn1-border-width) solid var(--btn1-border-cl);
  border-radius: var(--btn1-radius);
}

.btn-1:not(:disabled):not(.disabled):active,
.btn-1:not(:disabled):not(.disabled).active,
.btn-1:hover,
.btn-1:focus,
.btn-1:active,
.btn-1.active {
  background-color: var(--btn1-hover-bg-cl);
  border-color: var(--btn1-hover-border-cl);
  color: var(--btn1-hover-cl);
  outline: none;
  box-shadow: none;
}

.btn-2 {
  font-weight: var(--btn2-fw);
  font-size: var(--btn2-fs);
  color: var(--btn2-cl);
  padding: var(--btn2-padding);
  background-color: var(--btn2-bg-cl);
  border: var(--btn2-border-width) solid var(--btn2-border-cl);
  border-radius: var(--btn2-radius);
}

.btn-2:not(:disabled):not(.disabled):active,
.btn-2:not(:disabled):not(.disabled).active,
.btn-2:hover,
.btn-2:focus,
.btn-2:active,
.btn-2.active {
  background-color: var(--btn2-hover-bg-cl);
  border-color: var(--btn2-hover-border-cl);
  color: var(--btn2-hover-cl);
  outline: none;
  box-shadow: none;
}

.btn-3 {
  font-weight: var(--btn3-fw);
  font-size: var(--btn3-fs);  
  color: var(--btn3-cl);
  padding: var(--btn2-padding);
  background-color: var(--btn3-bg-cl);
  border: var(--btn3-border-width) solid var(--btn3-border-cl);
  border-radius: var(--btn3-radius);
}

.btn-3:not(:disabled):not(.disabled):active,
.btn-3:not(:disabled):not(.disabled).active,
.btn-3:hover,
.btn-3:focus,
.btn-3:active,
.btn-3.active {
  background-color: var(--btn3-hover-bg-cl);
  border-color: var(--btn3-hover-border-cl);
  color: var(--btn3-hover-cl);
  outline: none;
  box-shadow: none;
}

.btn-lg {
  line-height: calc(60px - 2px);
}

.btn-sm {
  line-height: calc(40px - 2px);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
}

.btn-block {
  width: 100% !important;
}

.form-group {
  margin-bottom: 20px;

  label {
    display: block;
    font-weight: 600;
    font-size: 15px;
  }

  .req {
    color: red;
    margin-left: 3px;
  }

  .action {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    a {
      font-size: 15px;
      color: #4c9402;
      @extend %transition;

      &:hover {
        text-decoration: none;
        opacity: .7;
      }
    }
  }
}

textarea {
  height: auto;
  min-height: 160px;
  font-size: 15px;
}

input[type="text"] {
  height: 48px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  font-size: 12px;
  line-height: 14px;
  border: none;
  @extend %radius-df;

  &::placeholder {
    color: #000;
  }
}

.shake {
  animation: spaceboots 0.2s 2 linear;
}

.tns-outer {
  user-select: none;
}

.position-relative {
  position: relative;
}

.overflow-hidden {
  overflow: hidden;
}

.svg-loading {
  display: none
}

.pending * {
  display: none;
}

.pending .svg-loading {
  display: block
}
.image__style {
  position: relative;
  display: block;
  overflow: hidden;
}
@keyframes spaceboots {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}


%center_content{
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: 100%;
  text-align: center;
}

.section_title{
  color: var(--main-color);
  margin-bottom: 28px;
  text-align: center;
  font-weight: 500;
      font-size: var(--heading-size-h2);
  line-height: 40px;
  @include font-heading;
  @media (min-width: 768px) {
    margin-bottom: var(--gutter-xlg);
  }  
}
.section_content-head {
  margin-bottom: 28px;
  @media (min-width: 768px) {
    margin-bottom: var(--gutter-xlg);
  }  
  .section_subtitle {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
  }
}
.index-carousel-products {
  .section_content-head {
    .section_title {
      font-size: 37px;
      line-height: 50px;
      margin-bottom: 21px; 
      @media (min-width: 768px) {
        font-size: 48px;
        line-height: 72px;
      }
    }
  }
}
.slider-container {
  position: relative;
  .section_content-body {
    position: relative;
  }
}
.slider-controls {
  > a {    
    display: none;
    @media (min-width: 768px) {
      display: block;
      @include ab(35%, n, n, n);    
      svg {
        width: 22px;
        path {
          stroke: var(--special-border);
        }
      } 
      &.js-prev-button {
        left: -15px;
        @media (min-width: 768px) {
          left: calc(-2.5vw - 15px);   
        }
        @media (min-width: 1400px) {
          left: calc(calc(-1 * (100vw - 1400px) / 2) + 15px);    
        }
        @media (min-width: 1550px) {
          left: -68px;
        }
      }
      &.js-next-button {
        right: -15px;
        @media (min-width: 768px) {
          right: calc(-2.5vw - 15px);   
        }
        @media (min-width: 1400px) {
          right: calc(calc(-1 * (100vw - 1400px) / 2) + 15px); 
        }
        @media (min-width: 1550px) {
          right: -68px;
        }
      }
    }    
  }  
}
.tns-nav {
  margin: 35px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  button {
    width: 15px;
    height: 15px;
    border: 1px solid #F2F2F2;
    background: transparent;
    border-radius: 50%;
    &:not(:last-child) {
      margin-right: 8px;
    }
    &.tns-nav-active {
      background: #F2F2F2;
    }
  }
}
.flex-wrap {
  flex-wrap: wrap;
}
.breadcrumbs {
  padding: 10px 0;
  @media (min-width: 768px) {
    padding: 54px 0 30px;
  }
  .breadcrumb-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--body-font-size) - 4px);    
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.5px;
    color: var(--breadcrumb-color);
    @include font-heading;
    @media (min-width: 768px) {
      justify-content: flex-start;
    }
    li {      
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
.tns-slider {
  display: flex; 
}
#mainvisual {
  display: flex;
  align-items: center;        
  @media (min-width: 768px) {
      padding-top: 130px;
  }
  .mainvisual-wrapper {
      max-width: 990px;
      margin-left: auto;
      margin-right: auto;
      h2 {
          @include title-custom;
          margin-bottom: 0;     
        + .descript {
          margin-top: 30px;
        }    
      }
      .descript {
          font-size: calc(var(--body-font-size) + 6px);
          line-height: 30px;
      }
  }
}
.template-captcha {
  .main-content {
    margin-top: 35px;        
    @media (min-width: 768px) {        
      margin-top: 65px;
    }
    .btn {
      @extend .btn-2;         
    }
  }
}
/* Popup styles */
body.modal-opened { 
  overflow: hidden;
  height: 100%;
  max-height: 100vh; 
} 
.modal-ui {   
  display: none; 
  > div[data-dialog-close] { 
    @include fixed(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0.5);  
    width: 100vw;
    height: 100vh;   
    z-index: -1;
    @extend %visibility-hidden;       
    transition: opacity 0.4s cubic-bezier(0,0,.2,1), visibility 0.4s cubic-bezier(0,0,.2,1);
  }
  &.is-open {
      display: block;
      > div[data-dialog-close] {        
        visibility: visible;
      z-index: 2;
      opacity: 1;         
      }
  } 
  header {
      position: static;
      button[data-dialog-close] {
          @include ab(10px, 10px, n, n); 
          padding: 0;
          border: none;

          cursor: pointer;
          svg path {
              fill: var(--body-link);
          }
      }
  }
  > div[data-dialog-close] { 
      @extend %visibility-visible;
  }
  > div:not([data-dialog-close]) {  
      @include fixed(50%, n, n, 50%); 
      z-index: 1001; 
      background: var(--body-bg-color); 
      padding: 40px 30px;          
      width: calc(100% - 30px);
      max-width: 812px;
      max-height: 90vh;  
      overflow: hidden;
      overflow-y: auto;
      transform: translate(-50%, -50.1%); 
      animation: mmfadeIn .3s cubic-bezier(0,0,.2,1);
      @media (min-width: 992px) {
          padding: 40px;
      }
      > div {
          width: 100%;
          color: var(--body-color);  
      }
  }  
  button.btn-dialog--close {        
      @include ab(0, n, n, 0);
      font-family: var(--body-font-family);
      cursor: pointer;
      min-width: 45px;
      width: 45px;
      height: 45px;
      font-size: 30px;
      color: var(--body-color);  
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      box-shadow: none;
      padding: 0;
      svg {
          pointer-events: none;
          path {
              color: var(--body-color);  
          }
      }
  }
}
/*Wishlist Page*/
.arn-wl-added {
  background: none !important;
}
.arn_icon-preloader {
  display: none;
}
/* wishlist */
.arn-wishlist-page .page-arn-wishlist {  
  background: none;
  .page-title {
    text-align: center;
    color: var(--main-color);
  }
  .tabs {
    margin: 20px auto;
    display: none;
  }
  .arn-noti-modal-body input, select {
    border: none;
  }
  .product-wl-title a {
    color: var(--body-color);
  }
  .wl-group-button {
    background: none;
  }
  .instock {
    color: #6FCF97;
  }
  .qty-wrapper {
    .qty-select {
      background: #fff;
      height: 46px;
      border-radius: 0;
      height: 46px;
      border: none;
      max-width: 140px;
    }
    input {
      font-size: var(--body-font-size);
    }
    .qty-plus-wl,
    .qty-minus-wl {
      font-size: 20px;
    }
  }  
  .arn-fave-list {
      border: none;
  } 
  .arn-fave-list-container {
      padding: 0;
      @media (min-width: 768px) {                     
          overflow: hidden;
          overflow-x: auto;  
      }
  }
  table {
      th {
          letter-spacing: 0.18em;
      }        
      .product-price {
          @media (min-width: 768px) {
              display: table-cell; 
          } 
      }
      td:before {
          @media (max-width: 767px) {
              color: var(--body-color);
          }
      }
      .product-image img {
          height: auto;
      }
      .product-quantity input {
          max-width: 80px; 
          padding: 0 10px; 
          height: 48px;
          text-align: center;
      }
      select {          
          padding-right: 20px;
          background-position: calc(100% - 10px) 50%; 
          height: 48px;
          line-height: 48px;
      }
      .product-detail { 
          .btn-actions  > a,
          .view-btn {
              display: inline-block; 
              margin: 5px; 
              white-space: nowrap; 
              padding: 13px 15px;
              line-height: 26px; 
              font-weight: var(--btn1-fw);
              color: var(--btn1-cl);
              background: var(--btn1-bg-cl);
              border: var(--btn1-border-width) solid var(--btn1-border-cl);
              &:hover {
                  color: var(--btn1-hover-cl);
                  background: var(--btn1-hover-bg-cl);
                  border-color: var(--btn1-hover-border-cl);   
              }
              &:last-child {
                  color: var(--btn2-cl);
                  background: var(--btn2-bg-cl);
                  border: var(--btn2-border-width) solid var(--btn2-border-cl); 
                  &:hover {
                      color: var(--btn2-hover-cl);
                      background: var(--btn2-hover-bg-cl);
                      border-color: var(--btn2-hover-border-cl);
                  }
              }
          }
      }
  }
}