// top bar

.announcement-bar {
    padding: 13px 0;
    font-size: calc(var(--body-font-size) - 4px);        
    line-height: 23px;    
    @include font-custom;
    @media (min-width: 992px) {
        border-bottom: 1px solid rgba(251, 236, 241, 0.5);
    }
    .announcement-bar_text-info, .announcement-bar_text-contact {
        font-weight: 900;
    }
    .d-flex {
        align-items: center;
    }
}
.announcement-bar-right {
    @media (min-width: 768px) {
        justify-content: flex-end;
    }
}
.announcement-bar_icon-social {
    margin-left: 48px;
    display: flex;
    text-align: center;    
    .svg-element-ui {
        display: flex;
    }
    li {        
        display: flex;
        &:not(:last-child){
            padding-right: 30px;
        }
    }  
    .btn-call-popup {
        position: relative;
        .number {
            @include ab(-8px, -12px, n, n);
            @include font-custom;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--main-color);
            color: var(--main-text-color);
            font-weight: 900;            
        }
    }  
}

// header

.section-header-main {        
    background: var(--menu-background-color);
    position: relative;
    .header-row {        
        .logo {
            padding: 10px 0;
        }
        .row, .row > * {
            position: static;
        }
    }
    .main-nav__list{
        height: 100%;        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        > li {
            display: flex;
            height: 100%;
            align-items: center;
            position: relative;
            > a {
                font-size: var(--menu-font-size);
                font-weight: var(--menu-font-wieght);    
                color: var(--menu-color);                
                @include font-custom;
            }
            &:not(:last-child){
                // padding-right: 53px;                
            }
            > .child-menu {
                visibility: hidden;                    
                background: var(--menu-background-color);                                                                               
                opacity: 0;
                min-width: 220px;
                padding: 15px;
                display: none;
                animation: mmfadeIn 0.5s ease-in-out;                             
                @include ab(100%, n, n, 0);    
                li {
                    a {
                        color: var(--menu-color);
                        line-height: 24px;
                        font-weight: 400;
                        display: inline-block;
                        padding: 3px 0;
                    }
                }
            }
            &.has-mega {
                position: static;
                > .child-menu {            
                    width: 100%;    
                    padding: 30px 0 6px;    
                    border-top: 1px solid rgba(251, 236, 241, 0.5);                                               
                }   
                .dropdown-wrap {
                    display: flex;
                    flex-wrap: wrap;
                    > .menu-list {
                        flex: 0 0 75%;
                        max-width: 75%;
                        display: flex;
                        flex-wrap: wrap;                        
                        > li {
                            flex: 0 0 33.333333%;
                            max-width: 33.333333%;
                            @include padding-lr;
                        }            
                    }
                    .mega-menu {
                        flex: 0 0 25%;
                        max-width: 25%;
                        @include padding-lr;
                        .image__style {
                            img {
                                width: 100%;
                            }
                        }
                        .mega-menu__image {                            
                            margin-bottom: 24px;
                            &:not(:last-child) {
                                margin-bottom: 35px;
                            }
                            .mega-link {
                                display: block;
                                position: relative;                                
                            }
                            .mega-title {
                                color: var(--menu-color);
                                line-height: 25px;
                                @include font-custom;
                                @include ab(n, n, 15px, 20px);
                            }
                        }
                    }
                }              
            }
            &:not(.has-mega) {
                .dropdown-menu {
                    white-space: nowrap;
                    padding: 16px 0;
                    .dropdown-wrap {
                        padding: 0;
                    }
                    .menu-list {
                        li {
                            padding: 0 20px;
                        }
                        .menu-item {
                            position: relative;
                            .dropdown-menu {
                                visibility: hidden;                    
                                background: var(--menu-background-color);                                                                               
                                opacity: 0;
                                display: none;
                                min-width: 220px;                                
                                animation: mmfadeIn 0.5s ease-in-out;                             
                                @include ab(0, n, n, 100%);

                            }
                            &:hover {
                                > .dropdown-menu {
                                    visibility: visible;
                                    z-index: 999;       
                                    opacity: 1;
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
            &:hover {
                > .child-menu {                    
                    visibility: visible;
                    z-index: 999;     
                    display: block;  
                    opacity: 1;                 
                }
            }   
        }
    }       
    .menu-list {       
        > .menu-item {
            > a {               
               font-weight: 700; 
            }
        }        
    }
    .level-three {
        padding: 10px 0 24px 20px;
        .menu-list {
            display: block;
            li {
                a {                    
                    font-weight: 400;
                }
            }
        }
    }     
}
.gradient {
    @media (min-width: 768px) {
        @include ab(0, n, n, 0);
        width: 100%;
        z-index: 9;
        .section-header-main {
            background: none;
            &:after {
                content: '';
                height: 178px;
                width: 100%;
                background: linear-gradient(#051034 0%, rgba(0, 0, 0, 0.1146) 84.9%, rgba(0, 0, 0, 0) 100%);   
                z-index: -1;
                @include ab(0, n, n, 0);
            }
        }
    }    
}

