.product-price {
    color: var(--price-color);
}
.price-sale  {
    color: var(--price-sale-color);
}
.price-compare {
    color: var(--price-compare-color);
}
.featured-collection__item {        
    .featured-collection__content {
        background: #fff;            
        padding: 15px;
        text-align: center;        
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        @media (min-width: 768px) {
            padding: 42px 15px 40px;
        }
        > .svg-element-ui {            
            display: none;
            @media (min-width: 768px) {
                @include ab(16px, 23px, n, n);
                display: block;
            }
        }
    }
    .featured-collection__image {
        padding-bottom: 3px;
        @media (min-width: 768px) {
            padding: 0 5% 16px;
        }
        @media (min-width: 1440px) {
            padding-left: 23px;
            padding-right: 23px;
        }
        .image__style {
            width: 100%;
        }
    }
    .featured-collection__vendor {
        a {
            font-size: calc(var(--body-font-size) - 6px);
            line-height: 22px;       
            text-transform: uppercase;
            display: inline-block;            
            @media (min-width: 768px) {
                font-size:var(--body-font-size);
                line-height: 30px;    
            }
        }
    }
    .featured-collection__title {
        font-weight: 700;
        font-size: calc(var(--body-font-size) - 2px);
        line-height: 22px;
        margin-bottom: 8px;
        @include font-custom;
        @media (min-width: 768px) {
            font-size: calc(var(--body-font-size) + 6px);
            line-height: 33px;
            margin-bottom: 15px;
        }
    }
    .featured-collection__review {
        margin-bottom: 7px;
        line-height: 11px;
        > * {
            display: flex;
            align-items: center;
            justify-content: center;            
        }
    }
    .featured-collection__price {
        font-size:var(--body-font-size);
        line-height: 35px;
        font-weight: 700;
        color: var(--price-color);
        @media (min-width: 768px) {
            font-size: calc(var(--body-font-size) + 7px);
        }
    }
    .clockCountdown span {
        display: unset;
    }
    form {
        margin-top: auto;
        padding-top: 9px;
        @media (min-width: 768px) {
            padding-top: 17px;
        }
        .btn {
            padding-left: 10px;
            padding-right: 10px;
            width: 100%;
            max-width: 245px;
            @media (max-width: 767px) {
                padding-top: 3px;
                padding-bottom: 3px;
                font-size: calc(var(--body-font-size) - 6px);
                max-width: 140px;
                @include font-body;
            }
        }
    }
}
#sidebarDrawer {
    padding: 15px 0 0;
    .sidebar-title {
        display: flex;
        align-items: center;
        font-size: calc(var(--body-font-size) + 4px);
        letter-spacing: -1.5px;
        color: var(--main-color);
        margin-bottom: 25px;
        @include font-custom;        
        .svg-element-ui {
            display: flex;
            margin-right: 20px;
        }
    }
    #clear-filters {
        @include font-custom; 
        letter-spacing: -1.5px;
        line-height: 24.55px;
        margin-bottom: 15px;
        display: inline-block;
        text-transform: uppercase;
        
    }
    .featured_block {
        user-select: none;
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
    #tag-chosen {
        display: flex;
        flex-wrap: wrap;        
        margin-bottom: 16px;
        li {
            display: flex;
            align-items: center;
            color: var(--btn3-cl);                
            background-color: var(--btn3-bg-cl);
            border: var(--btn3-border-width) solid var(--btn3-border-cl);
            line-height: 22px;
            padding: 4px 15px;
            font-size: calc(var(--body-font-size) - 4px);
            font-weight: 700;
            margin-bottom: 10px;
            border-radius: 40px;
            cursor: pointer;
            @include font-custom;  
            &:not(:last-child) {
                margin-right: 40px;
            }
            .js-close-tag {
                margin-left: 5px;
            }
        }
        &:empty {
            display: none;
        }
    }
    .filter-group {        
        .sb-title {
            @include font-custom-1;
            font-size: calc(var(--body-font-size) + 4px);
            line-height: 26px;
            border-bottom: 1px solid var(--body-border-color);
            margin-bottom: 20px;
            padding-bottom: 6px;
        }        
        .tags-list {
            li {
                padding: 2px 0;                
                a {
                    @include font-heading;
                    font-size: calc(var(--body-font-size) + 2px);                    
                    font-weight: 500;
                    color: var(--body-color);
                    display: block;
                    position: relative;
                    &:before {
                        content: '';
                        border: 2px solid var(--main-color);
                        width: 20px;
                        height: 20px;
                        border-radius: 4px;
                        @include ab(5px, 0, n, n);
                    }
                    &:after {
                        content: '';
                        width: 12px;
                        height: 12px;
                        background: var(--main-color);
                        opacity: 0;
                        @include ab(9px, 4px, n, n);                        
                    }
                    @media (hover : hover) {
                        &:hover {
                            color: var(--main-color);
                        }
                    }
                }               
                &.active {
                    a {
                        &:after {
                            opacity: 1;
                        }
                    }
                }
            }
        }    
        .show-more {
            @include font-custom;
            line-height: 22px;
            font-size: calc(var(--body-font-size) - 2px);            
            text-decoration: underline;
            display: inline-block;
            margin-top: 10px;
            @media (hover : hover) {
                &:hover {
                    text-decoration: none;
                    color: var(--main-color);
                }
            }            
        }   
    }
}